.shopping-list {
  border: solid 1px #000;
  box-sizing: border-box;
  font-family: arial;
  font-size: 32px;
  padding: 10px;
  width 800px;
  h2 {
    margin: 0 0 10px;
    font-size: 32px;
  }
  input,
  button {
    box-sizing: border-box;
    float: left;
    font-size: 24px;
    height: 52px;
  }
  button {
    padding: 10px;
  }
  input {
    margin: 0;
    padding: 10px;
    width: 60%;
  }
  .input {
    overflow: hidden;
    button {
      margin-left: 10px;
    }
  }
  .items-container {
    width: 60%;
  }
  .items {
    box-sizing: border-box;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    li {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      position: relative;
    }
    li:nth-child(odd) {
      background-color: #eee; 
    }

  }
  .item-name {
    box-sizing: border-box;
    display: block;
    padding-right: 40px;
  }
   .remove {
    cursor: pointer;
    color: red;
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
  }
  .hidden {
    display: none;
  }
}