#content {
  margin: 70px 10px 10px;
}
.shopping-list {
  border: solid 1px #000;
  box-sizing: border-box;
  font-family: arial;
  font-size: 32px;
  padding: 10px;
  width 800px;
  h2 {
    margin: 0;
    font-size: 32px;
  }
  input,
  button {
    font-size: 24px;
    margin: 5px;
  }
  .items {
    margin-top: 10px;
  }
  .item-name {
    box-sizing: border-box;
    display: inline-block;
    width: 400px;
  }
   .remove {
    cursor: pointer;
    color: red;
  }
  .hidden {
    display: none;
  }
}