
/* line 286 : /Users/tj/Projects/selenium-webdriver-starter/css/main.styl */

/* line 1 : /Users/tj/Projects/selenium-webdriver-starter/node_modules/stylus/lib/functions/index.styl */

/* line 66 : /Users/tj/Projects/selenium-webdriver-starter/node_modules/stylus/lib/functions/index.styl */

/* line 66 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */

/* line 1 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list {
  border: solid 1px #000;
  box-sizing: border-box;
  font-family: arial;
  font-size: 32px;
  padding: 10px;
  width: 800px;
}

/* line 8 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list h2 {
  margin: 0 0 10px;
  font-size: 32px;
}

/* line 12 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list input,
.shopping-list button {
  box-sizing: border-box;
  float: left;
  font-size: 24px;
  height: 52px;
}

/* line 19 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list button {
  padding: 10px;
}

/* line 22 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list input {
  margin: 0;
  padding: 10px;
  width: 60%;
}

/* line 27 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .input {
  overflow: hidden;
}

/* line 29 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .input button {
  margin-left: 10px;
}

/* line 33 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .items-container {
  width: 60%;
}

/* line 36 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .items {
  box-sizing: border-box;
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

/* line 41 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .items li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

/* line 46 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .items li:nth-child(odd) {
  background-color: #eee;
}

/* line 51 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .item-name {
  box-sizing: border-box;
  display: block;
  padding-right: 40px;
}

/* line 56 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .remove {
  cursor: pointer;
  color: #f00;
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
}

/* line 64 : /Users/tj/Projects/selenium-webdriver-starter/css/list.styl */
.shopping-list .hidden {
  display: none;
}

/* line 3 : /Users/tj/Projects/selenium-webdriver-starter/css/main.styl */
#content {
  margin: 70px 10px 10px;
}
