<div class="shopping-list">
  <h2 class="title">Shopping List</h2>
  <div class="input"> 
    <input name="new-item">
    <button class="add-item">Add item</button>
    <button class="clear">Clear</button>
  </div>
  <div class="items-container"></div>
</div>